chess==1.9.4
deprecation==2.1.0
grpcio==1.54.0
matplotlib==3.9.2
multiprocess==0.70.14
numpy==1.23.1
openpyxl==3.1.5
pandas==1.4.3
Pillow==10.4.0
protobuf==3.20.3
PyAudio==0.2.14
pyttsx3==2.90
scikit_fuzzy==0.4.2
scikit-learn==1.4.2
soundfile==0.12.1
SpeechRecognition==3.10.0
stockfish==3.28.0
torch==2.4.1
git+https://github.com/openai/whisper.git